style.css

.mainBody {
    background-color: gray;

}
.title {
    background-color: white;
    border: lightgrey;
    border-width: 2px;

}

.box {
    max-width: 500 px;
    margin: 45px 15px 15px 15px;
 }

.boxConent {
    justify-content: flex-start;
    border: solid 2px darkgrey;
    padding: 20px;
    align-items: center;
    max-width: 850px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
 }

 .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .boxText{
     flex-wrap: wrap;
 }
 
 .prototype {
    display: flex;
    background-color:black;
    border: 3px;
    border-color: darkblue;
    height: 460px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;


 }

h3{
    text-align: center;
}

p {
    text-align: center;
}

.title {
    font-family: 'Inter', sans-serif;
}

.bodyCopy {
    font-family: 'Inter', sans-serif;
}

.copyrightText{
    font-family: 'Inter', sans-serif;
    font-size: small;
}

.email {
    font-family: 'Inter', sans-serif;
    padding-top: 30px;
    text-align: center;

}

#fname{ 
    width: 250px;
}

.video {
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: #043276;
    color: white;
    border-color: #043276;
    margin: 4px;
    border-radius: 20px;

}